<%= render "shared/header" %>

<h1>全アイテム一覧</h1>

<% @items.each do |item| %>
  <p><%= item.item_name %></p>
  <div class='list_img_content'>
    <% if item.image.attached? %>
      <%= image_tag item.image, class: "item_img" %>
    <% else %>
      <%= image_tag "noimage.jpg", class: "item_img", alt: "No Image" %>
    <% end %>
  </div>
<% end %>