.background_item_new {
  background-color: lavender;
  display: flex;
  justify-content: center;
}
.item_new_form {
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  padding: 20px 0;
  border-radius: 10px;
}

.form_header {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding-bottom: 20px;
}

.form_text {
  font-weight: bold;
  margin-top: 20px;
}

.required {
  color: red;
}

.day_date {
  display: flex;
}

.actions {
  margin-top: 20px;
}

.item_name {
  width: 178px;
}

.form_input {
  margin-left: 20px;
}
