.background_user_page {
  background-color: lavender;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

/* サインアップ */

.user_new_form {
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  border-radius: 10px;
  height: auto;
}

.register_btn {
  width: 100%;
  margin: 20px 0;
}

/* サインイン */

.user_signin_form {
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  border-radius: 10px;
  height: auto;
}

/* 編集画面 */
.user_edit_form {
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  border-radius: 10px;
  height: auto;
}

.acount_delete {
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
  border-top: solid 2px lightgray;
}

.acount_delete_btn {
  background-color: red;
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid red;
}

.edit_form_wrap {
}